.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  border: 1px solid red;
  width: 75%;
  
}





.products{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  
}


.product-card:nth-child(2){
  grid-column: 1 / 2;
}

.product-card:nth-child(3) {
  grid-column: 3 / 4;
}






.first{
  display: grid;
  
  position: relative;
    grid-column: 1 / -1;
  
}

.first::before{
  content: "Хіт Продажів";
  top: 8px;
  left: 8px;
 position: absolute;
font-size: 25px;
background-color: red;
border-radius: 10px;
padding: 5px;
  z-index: 10;
  color: white;
}


.product-price{
  color: green;
}






.product-card{
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.575);
height: 100%;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover{
box-shadow: 0 40px 40px rgba(0, 0, 0, 0.575);
transform: translateY(-6px);
}

.product-actions{
  opacity: 0;
  transition-delay: 100ms;
 display: flex;
  justify-content: center;
  content: "";
  top: 50px;
  position: absolute;
inset: 0;
align-items: center;
}

.product-img img{
  width: 100%;
  height: auto;
  display: block;
}


.product-img{
  position: relative;
}




.product-img:hover .product-actions{
  opacity: 1;
  transition: opacity 250ms ease;
 
}


.action-btn{
  background-color: #007BFF;
  width: 200px;
  height: 50px;
  top: 100px;
  display: block;
  border: none;
  border-radius: 15px;
}





